{{#each cars as |car|}}

  <h1 data-id="{{car.id}}"> <small>Title: {{car.make}}</small></h1>

  <!-- <div>
    {{#if car.description}}
      {{car.description}}
    {{else}}
      No description.
    {{/if}}
  </div> -->

{{/each}}
