body {
  background-attachment: fixed;
  background-repeat:no-repeat;
  background-position: center center;
  background-image: url('../images/audi.jpg');
  font-family: 'Lato', sans-serif;
  color: white;
}

h1 {
  text-transform: uppercase;
}

.form-control {
  margin: 5px;
}

#navbarid {
  background: black;
  text-transform: uppercase;
}

navbar-brand {
  color: white;
}

legend {
  color: white;
}

.collection-banner, .account-banner {
  color: #d4af37;
}

#main {
  padding-top: 90px;
}

.mgmt-container {
  padding-left: 300px;
  padding-right: 300px;
}

#sign-in {
  padding-left: 100px;
  padding-right: 100px;
}

.welcome {
  margin-bottom: 110px;
}

#signupbuttonid {
  margin-right: 10px;
}

.btn-lg {
  margin: 20px;
  width: 150px;
  font-size: 14px;
}

.btn-sm {
  margin: 10px;
  width: 150px;
}

.package {
  background-color: black;
  padding: 20px;
  padding-left: 200px;
  padding-right: 200px;
  opacity: .90;
}

.collection, .content {
  margin-bottom: 100px;
  color: #d4af37;
}

.collection {
  padding-left: 350px;
  padding-right: 350px;
}

h1 small {
  color: white;
}

h2 small {
  color: #e9ebe2;
}

#footerid {
  background: black;
}

.footer-text {
  text-align: center;
}

#mod-car {
  margin: auto;
}
