body {
  background-attachment: fixed;
  background-color: black;
  font-family: 'Lato', sans-serif;
  color: white;
}

#navbarid {
  background: transparent;
  text-transform: uppercase;
}

navbar-brand {
  color: white;
}

#main {
  padding-top: 100px;
}

#signupbuttonid {
  margin-right: 10px;
}

#footerid {
  background: black;
}

.footer-text {
  text-align: center;
}
